body {
font-family: sans-serif;
}

h1 {
    padding: 0.5em;
    background-color: rgb(30, 105, 219);
    color: white;
    border-radius: 0.5;
}

ul {
    border-style: solid;
    border-width: 1px;
}

ul.menu {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: black;
} 

ul.menu li {
    list-style-type: none;
    display: inline;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

ul.menu li a {
color: white;
text-decoration: none;
}

ul.menu li.selected {
color: yellow;
}

ul.menu li a:hover {
color: #99DDFF;
text-decoration: underline;
}

article {
    float: left;
    border-style: solid;
    border-width: 1px;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

aside {
    float: left;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    border-radius: 1em;
    background-color: #ffffc0;
    box-shadow: 10px 10px 5px gray;
    color: #2f5670;
    list-style-type: square;
    font-size: 1em;;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

tr {
background-color: rgb(9, 141, 230);
}

th, td {
    vertical-align: top;
    padding: 0.5em;
    text-align: left;
}
