.highlight{
    color: aqua;
}

.special {
    font-size: 2em;
    color: green;
    font-style: itatic;
}
p.highlight {
    font-weight: bold;
}

h1.highlight {
    text-transform: uppercase;
}

p.highlight {
    font-style: italic;
}

.body {
    background-color: red;
}